@model Services_Booking_System.Models.SubService

@{
    ViewData["Title"] = "Details";
    var PhotoPath = "/SubServiceImages/" + Model.SubServiceImage;
}

<h1>Details</h1>
<flash dismissable="true" />
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card" style="margin-left:200px;min-width:18rem;max-width:30.5%;">

            <div class="card-header text-center">
                <h3>@Html.DisplayFor(model => model.SubServiceName)</h3>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" style="width:200px;height:200px" src="@PhotoPath" asp-append-version="true" />
            </div>
            <div class="text-center">
                <h4> &#8377; @Model.Price</h4>
                <small>@Model.Service.ServiceName</small>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Edit" class="btn btn-primary m-1" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
