@model IEnumerable<Services_Booking_System.Models.SubService>
@inject SignInManager<ApplicationUser> signinManager;
@{
    ViewData["Title"] = "Index";

}

<h1>@ViewData["SelectedService"]</h1>
@if (Model.Count() == 0)
{
    <div>No sub services found!</div>
    <br />
    @if (signinManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New SubService</a>
    }
}
else
{
    <div class="card-deck">
        @foreach (var item in Model)
        {
            var PhotoPath = "/SubServiceImages/" + item.SubServiceImage;
            <div class="card m-3 " style="min-width:18rem;max-width:30.5%;">
                <div class="card-header text-center ">
                    <h3>@item.SubServiceName</h3>
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top" style="width:200px" src="@PhotoPath" asp-append-version="true" />

                </div>
                <div class="text-center">
                    <h4> &#8377; @item.Price</h4>
                </div>
                <div class="card-footer text-center">
                    @if (!signinManager.IsSignedIn(User) || (signinManager.IsSignedIn(User) && !User.IsInRole("Admin")))
                    {
                        <a asp-action="Book" asp-controller="Booking" class="btn btn-primary m-1" asp-route-id="@item.Id">Book</a>
                    }
                    @if (signinManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" class="btn btn-primary m-1" asp-route-id="@item.Id">Edit</a>
                        @*<a asp-action="Details" class="btn btn-success m-1" asp-route-id="@item.Id">Details</a>*@
                        <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@item.Id">Delete</a>
                    }

                </div>
            </div>

        }
    </div>
}
<div>
    @if (signinManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-action="Index" asp-controller="Home">Back to List</a>
    }
</div>
